/org.eclipse.epp.usagedata.recording/
/org.eclipse.jdt.core/
/org.eclipse.jdt.launching/
/org.eclipse.jdt.ui/
/org.eclipse.ltk.core.refactoring/
/org.eclipse.ltk.ui.refactoring/
/org.eclipse.m2e.logback.configuration/
/org.eclipse.mylyn.bugzilla.core/
/org.eclipse.mylyn.tasks.ui/
/org.eclipse.team.cvs.core/
/org.eclipse.ui.workbench/
/org.eclipse.wb.discovery.core/
/org.eclipse.recommenders.rcp/
/org.eclipse.recommenders.completion.rcp.overrides/
/org.eclipse.recommenders.completion.rcp.calls/
/org.eclipse.mylyn.context.core/
/org.eclipse.search/
/org.eclipse.jdt.debug.ui/
/org.eclipse.ui.editors/
/de.fu_berlin.inf.dpp/
