# Eclipse
/bin
/.settings
/.classpath

# Idea
/.idea
*.iml

# Gradle
/build
/.gradle

# Occupational hazards
/eclipse/
/repo/
/buildSrc

# Patch rejects
*.rej
/patches-/

# OS cache files
*.DS_Store
_MACOSX
