/bin/
/conf/
/docs/
/eclipse/
/jars/
/lib/
/logs/
/reobf/
/runtime/
/src/
/temp/
/CHANGELOG
/LICENSE
/cleanup.bat
/cleanup.sh
/decompile.bat
/decompile.sh
/getmodsource.bat
/getmodsource.sh
/recompile.bat
/recompile.sh
/reobfuscate.bat
/reobfuscate.sh
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/src_base/
/src_work/
/getchangedsrc.bat
/getchangedsrc.sh
/reformat.bat
/reformat.sh
