#eclipse
**/bin
**/.settings
**/.classpath
*.project

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
/*/out
/classes
*.iml

#gradle
/build
/.gradle
/*/build
/*/.gradle

# Projects repo, either ignore it, or ignore patches.
/projects/mcp/
/projects/clean/
/projects/forge/
/projects/fmlonly/
#/patches/*

#occupational hazards
/projects/**/build/
/projects/**/out/
/projects/**/run/
/projects/**/*.launch
/repo/
src/generated/resources/.cache/

#Patch rejects
/patches-/
*.patch.rej
/projects/*/rejects/

# FML changelog
changelog.txt
*.py
*.7z
/logs/

