#Main Forge Access Transformer configuration file
# Tessellator
#public-f bfq.a #FD:Tessellator/field_78398_a #instance
#public bfq.u #FD:Tessellator/field_78409_u #drawMode
#public bfq.v #FD:Tessellator/field_78408_v #xOffset
#public bfq.w #FD:Tessellator/field_78407_w #yOffset
#public bfq.x #FD:Tessellator/field_78417_x #zOffset
#public bfq.z #FD:Tessellator/field_78415_z #isDrawing
# EntityFishHook
public net.minecraft.entity.projectile.EntityFishHook field_146041_e
public net.minecraft.entity.projectile.EntityFishHook field_146036_f
public net.minecraft.entity.projectile.EntityFishHook field_146039_d
# ItemPickaxe
public net.minecraft.item.ItemPickaxe <init>(Lnet.minecraft.item.Item$ToolMaterial;)
public net.minecraft.item.ItemAxe <init>(Lnet.minecraft.item.Item$ToolMaterial;)
public net.minecraft.item.ItemSpade <init>(Lnet.minecraft.item.Item$ToolMaterial;)
# ItemTool
#public xj.a #FD:ItemTool/field_77864_a #efficiencyOnProperMaterial
#public xj.d #FD:ItemTool/field_77865_bY #damageVsEntity
# EntityEnderman
#public tg.br #FD:EntityEnderman/field_70827_d #carriableBlocks
# RenderGlobal
#public bfl.k #FD:RenderGlobal/field_72769_h #theWorld
#public bfl.l #FD:RenderGlobal/field_72770_i #renderEngine
#public bfl.t #FD:RenderGlobal/field_72777_q #mc
#public bfl.u #FD:RenderGlobal/field_72776_r #globalRenderBlocks
#public bfl.H #FD:RenderGlobal/field_72738_E #damagedBlocks
# SoundManager
public net.minecraft.client.audio.SoundManager field_148622_c #sndHandler
# EntityMinecart
#protected st.* #FD:EntityMinecart/* # All private -> protected
# Block
public net.minecraft.block.Block <init>(Lnet/minecraft/src/Material;)V
public net.minecraft.block.Block func_149658_d(Ljava/lang/String;)Lnet.minecraft.block.Block; #setIconName
public net.minecraft.block.Block func_149672_a(Lnet.minecraft.block.Block$SoundType;)Lnet.minecraft.block.Block; #setStepSound
public net.minecraft.block.Block func_149752_b(F)Lnet.minecraft.block.Block; #setResistance
public net.minecraft.block.Block func_149711_c(F)Lnet.minecraft.block.Block; #setHardness
public net.minecraft.block.Block func_149713_g(I)Lnet.minecraft.block.Block; #setLightOpacity
public net.minecraft.block.Block func_149715_a(F)Lnet.minecraft.block.Block; #setLightValue
public net.minecraft.block.Block func_149722_s()Lnet.minecraft.block.Block; #setBlockUnbreakable
public net.minecraft.block.Block func_149675_a(Z)Lnet.minecraft.block.Block; #setTickRandomly
public net.minecraft.block.Block func_149676_a(FFFFFF)V #setBlockBounds
public net.minecraft.block.Block func_149657_c(Lnet/minecraft/world/World;IIII)V # dropXpOnBlockBreak
# NetServerHandler
#public ka.f #FD:NetServerHandler/field_72572_g #playerInAirTime
# TileEntity
#public asp.k #FD:TileEntity/field_70331_k #worldObj
# BlockLeavesBase
#public arh.d #FD:BlockLeavesBase/field_72131_c #graphicsLevel
# Item
public net.minecraft.item.Item func_77656_e(I)Lnet.minecraft.item.Item; #setMaxDamage
public-f net.minecraft.item.Item func_77650_f(Lnet.minecraft.item.ItemStack;)Lnet.minecraft.util.IIcon; #getIcon is Final for unknown reason
public net.minecraft.item.Item func_77627_a(Z)Lnet.minecraft.item.Item; #setHasSubtypes
public net.minecraft.item.Item func_77631_c(Ljava.lang.String;)Lnet.minecraft.item.Item; #setPotionEffect
public net.minecraft.item.Item func_111206_d(Ljava.lang.String;)Lnet.minecraft.item.Item; #setTextureName
# RailLogic
#public amz #CL:BlockBaseRailLogic
#public amz.a()I #MD:BlockBaseRailLogic/func_94505_a #getNAdjacentTiles
# EntityPlayer
public net.minecraft.entity.player.EntityPlayer func_71012_a(Lnet/minecraft/entity/item/EntityItem;)V #joinEntityItemWithWorld
public net.minecraft.client.entity.EntityClientPlayerMP func_71012_a(Lnet/minecraft/entity/item/EntityItem;)V #joinEntityItemWithWorld
public net.minecraft.entity.player.EntityPlayer func_71053_j()V #closeScreen
#public uf.b #FD:EntityPlayer/field_71076_b #sleepTimer
# World Gen Chests Related
public net.minecraft.util.WeightedRandomChestContent *
public net.minecraft.world.WorldServer field_73069_S
public net.minecraft.world.gen.structure.StructureMineshaftPieces field_78818_a
public net.minecraft.world.gen.structure.ComponentScatteredFeaturePieces$DesertPyramid field_74941_i
public net.minecraft.world.gen.structure.ComponentScatteredFeaturePieces$JunglePyramid field_74943_l
public net.minecraft.world.gen.structure.ComponentScatteredFeaturePieces$JunglePyramid field_74944_m
public net.minecraft.world.gen.structure.StructureStrongholdPieces$ChestCorridor field_75003_a
public net.minecraft.world.gen.structure.StructureStrongholdPieces$Library field_75007_b
public net.minecraft.world.gen.structure.StructureStrongholdPieces$RoomCrossing field_75014_c
public net.minecraft.world.gen.structure.StructureVillagePieces$House2 field_74918_a
public net.minecraft.world.gen.feature.WorldGenDungeons field_111189_a
# Save Location
public net.minecraft.world.chunk.storage.AnvilChunkLoader field_75825_d # chunkSaveLocation
public net.minecraft.world.gen.ChunkProviderServer field_73247_e # currentChunkLoader
# PlayerManager
#public jp.a(IIZ)Ljq; #MD:PlayerManager/func_72690_a #getOrCreateChunkWatcher
# PlayerInstance
#public jq #CL:PlayerInstance
# World
public-f net.minecraft.world.World field_72982_D #villageCollectionObj
#public abw.G #FD:World/field_72993_I #activeChunkSet
# EntityLiving
#public og.b #FD:EntityLiving/field_70728_aV #experienceValue
#public og.d #FD:EntityLiving/field_70715_bh #targetTasks
# GuiFlatPresets
#public avz.a(Ljava/lang/String;ILacq;Ljava/util/List;[Lagd;)V #MD:GuiFlatPresets/func_82294_a
#public avz.a(Ljava/lang/String;ILacq;[Lagd;)V #MD:GuiFlatPresets/func_82297_a
# BiomeGenBase
public net.minecraft.world.biome.BiomeGenBase *() #Everything protected->public
public net.minecraft.world.biome.BiomeGenForest *()
public net.minecraft.world.biome.BiomeGenHills *()
public net.minecraft.world.biome.BiomeGenMesa *()
public net.minecraft.world.biome.BiomeGenPlains *()
public net.minecraft.world.biome.BiomeGenSavanna *()
public net.minecraft.world.biome.BiomeGenSnow *()
public net.minecraft.world.biome.BiomeGenTaiga *()
# Map Gen Biome Lists
public+f net.minecraft.world.gen.structure.MapGenStronghold field_151546_e
# MapGenVillage
public-f net.minecraft.world.gen.structure.MapGenVillage field_75055_e #villageSpawnBiomes
# ShapedRecipes
public+f net.minecraft.item.crafting.ShapedRecipes field_77574_d #recipeItems
public+f net.minecraft.item.crafting.ShapedRecipes field_77576_b #recipeWidth
public+f net.minecraft.item.crafting.ShapedRecipes field_77577_c #recipeHeight
# ShapelessRecipes
public net.minecraft.item.crafting.ShapelessRecipes field_77579_b #recipeItems
# GuiContainer
#protected awy.a(Lwe;)V #MD:GuiContainer/func_74192_a #drawSlotInventory
# ContainerPlayer
#protected vv.h #FD:ContainerPlayer/field_82862_h #player
# ContainerRepair
public net.minecraft.inventory.ContainerRepair field_82856_l #ContainerRepair/stackSizeToBeUsedInRepair
# BlockButton
#protected anf.n(Labw;III)V #MD:BlockButton/func_82535_o #checkActivation
#protected-f anf.a #FD:BlockButton/field_82537_a #sensible
# BiomeDecorator
public net.minecraft.world.biome.BiomeDecorator *
# CreativeTabs
public-f net.minecraft.creativetab.CreativeTabs field_78032_a # creativeTabArray non-final
# Packet
#public ey.a(IZZLjava/lang/Class;)V #MD:Packet/func_73285_a  #addIdClassMapping
# SaveHandler
#public alq.b()Ljava/io/File; #MD:SaveHandler/func_75765_b
# World stuff
public net.minecraft.world.World field_73003_n #prevRainingStrength
public net.minecraft.world.World field_73004_o #rainingStrength
public net.minecraft.world.World field_73017_q #thunderingStrength
public net.minecraft.world.World field_73018_p #prevThunderingStrength
public net.minecraft.world.World func_72923_a(Lnet/minecraft/entity/Entity;)V #onEntityAdded
public net.minecraft.world.World func_72847_b(Lnet/minecraft/entity/Entity;)V #onEntityRemoved
public net.minecraft.world.WorldServer func_72923_a(Lnet/minecraft/entity/Entity;)V #onEntityAdded
public net.minecraft.world.WorldServer func_72847_b(Lnet/minecraft/entity/Entity;)V #onEntityRemoved
public net.minecraft.client.multiplayer.WorldClient func_72923_a(Lnet/minecraft/entity/Entity;)V #onEntityAdded
public net.minecraft.client.multiplayer.WorldClient func_72847_b(Lnet/minecraft/entity/Entity;)V #onEntityRemoved
# WorldServer
#public js.N #FD:WorldServer/field_73068_P #allPlayersSleeping
# TextureMap
#public bik.g #FD:TextureMap/field_94255_a
#public bik.h #FD:TextureMap/field_94254_c
# Potion
#public ni.b(II)Lni; #MD:Potion/func_76399_b #setIconIndex
# PotionHelper
#public zp.m #FD:PotionHelper/field_77927_l #potionRequirements
#public zp.n #FD:PotionHelper/field_77928_m #potionAmplifiers
# PotionEffect
#public nj.b #FD:PotionEffect/field_76460_b #duration
# BlockFluid
#protected apc.a #FD:BlockFluid/field_94425_a #theIcon
# GuiIngame
protected net.minecraft.client.gui.GuiIngame *
protected net.minecraft.client.gui.GuiIngame *()
# ItemStack
default net.minecraft.item.ItemStack field_77991_e
# GuiSlot
#protected awg.b(IIII)V #MD:GuiSlot/func_77206_b #overlayBackground
# EntityPlayer
#public uf.bu #FD:EntityPlayer/field_71092_bJ #username
# MapGenStructureIO
public net.minecraft.world.gen.structure.MapGenStructureIO func_143034_b(Ljava/lang/Class;Ljava/lang/String;)V # registerStart
public net.minecraft.world.gen.structure.MapGenStructureIO func_143031_a(Ljava/lang/Class;Ljava/lang/String;)V # registerPiece
# Stronghold
public net.minecraft.world.gen.structure.StructureStrongholdPieces$Stronghold
# Packets
public net.minecraft.network.play.server.S23PacketBlockChange field_148883_d # Block
public net.minecraft.network.play.server.S23PacketBlockChange field_148884_e # Metadata
# WorldType
public-f net.minecraft.world.WorldType field_77139_a #worldTypes
# DamageSource
public net.minecraft.util.DamageSource *() #All methods public, most are already
# ItemBlock
public net.minecraft.item.ItemBlock field_150939_a # block
# EntityAITasks 
public net.minecraft.entity.ai.EntityAITasks field_75782_a # taskEntries
# EntityXPOrb
public net.minecraft.entity.item.EntityXPOrb field_70530_e # xpValue
# Village
public net.minecraft.world.gen.structure.StructureVillagePieces$Village
# RenderPlayer
public net.minecraft.client.renderer.entity.RenderBiped field_77071_a #modelBipedMain
public net.minecraft.client.renderer.entity.RenderPlayer field_77109_a #modelBipedMain
public net.minecraft.client.renderer.entity.RenderPlayer field_77108_b #modelArmorChestplate
public net.minecraft.client.renderer.entity.RenderPlayer field_77111_i #modelArmor
# ChunkProviderServer 
public net.minecraft.world.gen.ChunkProviderServer field_73246_d # currentChunkProvider
public net.minecraft.world.gen.ChunkProviderServer field_73244_f # loadedChunkHashMap
public net.minecraft.world.gen.ChunkProviderServer field_73245_g # loadedChunks
public net.minecraft.world.gen.ChunkProviderServer field_73251_h # worldObj
