/*
!.gitignore
!/Clean/
/Clean/*
!/Clean/.classpath
!/Clean/.project
!/Clean/.settings/
/Clean/.settings/*
!/Clean/.settings/org.eclipse.jdt.core.prefs
!/FML/
/FML/*
!/FML/.classpath
!/FML/.project
!/FML/.settings/
/FML/.settings/*
!/FML/.settings/org.eclipse.jdt.core.prefs
!/.metadata/
/.metadata/*
!/.metadata/.plugins/
/.metadata/.plugins/*
!/.metadata/.plugins/org.eclipse.core.runtime/
/.metadata/.plugins/org.eclipse.core.runtime/*
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/
/.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
!/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
!/.metadata/.plugins/org.eclipse.debug.core/
/.metadata/.plugins/org.eclipse.debug.core/*
!/.metadata/.plugins/org.eclipse.debug.core/.launches/
/.metadata/.plugins/org.eclipse.debug.core/.launches/*
!/.metadata/.plugins/org.eclipse.debug.core/.launches/CleanClient.launch
!/.metadata/.plugins/org.eclipse.debug.core/.launches/CleanServer.launch
!/.metadata/.plugins/org.eclipse.debug.core/.launches/FMLClient.launch
!/.metadata/.plugins/org.eclipse.debug.core/.launches/FMLServer.launch
!/.metadata/.plugins/org.eclipse.debug.ui/
/.metadata/.plugins/org.eclipse.debug.ui/*
!/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

