/org.eclipse.jdt.launching.prefs
/org.eclipse.m2e.discovery.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.team.cvs.ui.prefs
/org.eclipse.team.ui.prefs
/org.eclipse.ui.workbench.prefs
/org.eclipse.wst.sse.core.prefs
/org.eclipse.epp.usagedata.gathering.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.ui.ide.prefs
