# Marker interfaces to add to minecraft - helps in bukkit and client/server unification
# Only runs at runtime because it's not necessary at compile time
# entityplayer -> network/player
of cpw/mods/fml/common/network/Player
# block -> blockproxy
aif cpw/mods/fml/common/registry/BlockProxy
# item -> itemproxy
rg cpw/mods/fml/common/registry/ItemProxy