# Marker interfaces to add to minecraft - helps in bukkit and client/server unification
# Only runs at runtime because it's not necessary at compile time
# has deobf and obf mappings so it runs OK in mcp
# entityplayer -> network/player
qg cpw/mods/fml/common/network/Player
net.minecraft.src.EntityPlayer cpw/mods/fml/common/network/Player
# block -> blockproxy
alf cpw/mods/fml/common/registry/BlockProxy
net.minecraft.src.Block cpw/mods/fml/common/registry/BlockProxy
# item -> itemproxy
tt cpw/mods/fml/common/registry/ItemProxy
net.minecraft.src.Item cpw/mods/fml/common/registry/ItemProxy